{% extends 'layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          <!-- Total Customers Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Total Customers</h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-person"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{total_customer}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Customers Card -->

          <!-- Total Partners Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">Total Partners</h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{total_partner}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Total Partners Card -->

          <!-- Total Complaints Card -->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Total Complaints</h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="ri-briefcase-4-fill"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{total_complaints}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Total Complaints Card -->

          <!-- Service Request List -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">

              <div class="card-body">
                <h5 class="card-title">Bookings</h5>

                <table class="table table-borderless datatable css-serial">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Booking Id</th>
                      <th scope="col">Customer Name</th>
                      <th scope="col">Request Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for request in bookings %}
                    <tr>
                      <td scope="row"></td>
                      <td>{{ request.booking_id }}</td>
                      <td>{{ request.profile_token.first_name }}</td>
                      <td>{{ request.date}}</td>
                    </tr>
                    {%endfor%}
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- End Service Request List -->
        </div>
      </div>
      <!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">
        <!-- Users Graph -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pie Chart</h5>

              <!-- Pie Chart -->
              <canvas id="pieChart" style="max-height: 400px;"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#pieChart'), {
                    type: 'pie',
                    data: {
                      labels: [
                        'Open Complaints',
                        'Closed Complaints',
                        'Cancelled Complaints'
                      ],
                      datasets: [{
                        label: 'Total number',
                        data: ["{{open}}", "{{close}}", "{{cancelled}}"],
                        backgroundColor: [
                          'rgb(46,202,106)',
                          'rgb(255, 99, 132)',
                          'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                      }]
                    }
                  });
                });
              </script>
              <!-- End Pie CHart -->

          </div>
        </div>
        <!-- End Right side columns -->
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
{% endblock %}